{% extends "SonataAdminBundle::standard_layout.html.twig" %}

{% block tab_menu %}
    <h2>Supprimer un item au menu</h2>
{% endblock %}

{% block sonata_admin_content %}

    {{ parent() }}
    <div class="sonata-ba-delete">

        <div class="box box-danger">
            <div class="box-header">
                <h3 class="box-title">Confirmation de suppression</h3>
            </div>
            <div class="box-body">
                Êtes-vous sûr de vouloir supprimer l'élément "{{ item.title }}" sélectionné?
            </div>
            <div class="box-footer clearfix">
                <form method="POST" action="">
                    <input type="hidden" name="_method" value="DELETE">

                    <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Oui, supprimer</button>
                    ou

                    <a class="btn btn-success" href="/app_dev.php/admin/menu/6/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                        Editer</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}