{% extends base_template %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.2/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/id4vmenu/js/jquery.tabledrag.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/id4vmenu/js/assets/jquery.tabledrag.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/id4vmenu/css/styles.css') }}"/>
{% endblock %}

{% block tab_menu %} {% endblock %}

{% block tab_menu_navbar_header %}
    <div class="navbar-header">
        <span class="navbar-brand">Editer le menu "{{ menu.name }}"</span>
    </div>
    <div class="container-fluid">
        <div class="navbar-form navbar-right">
            <a class="btn btn-primary" href="{{ path('admin_id4v_menu_menu_menuitem_create',{'id':menu.id}) }}">Ajouter une élément au menu</a>
        </div>
    </div>
{% endblock %}

{% block sonata_admin_content %}

    {% block notice %}
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    {% endblock notice %}

    <div class="row">
        <div id="menuTree" class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h4 class="box-title">Edition</h4>
                    <div class="navbar-form pull-right">
                        <button id="fake_submit" class="btn btn-default">Valider les modifications</button>
                    </div>
                </div>
                <div class="box-body no-padding">
                <form id="organize" action="{{ admin.generateObjectUrl('updateItems', menu) }}" method="post">
                        <table id="table-tree" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Ordre</th>
                                <th>Parent</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for form in forms %}
                                <tr class="draggable">
                                    <td class="sonata-ba-list-field">
                                        {{ form.vars.value }}
                                        {{ form_widget(form.id,{"attr":{"class":"item-id"}}) }}
                                        {{ form_widget(form.depth,{"attr":{"class":"item-depth"}}) }}
                                    </td>
                                    <td class="sonata-ba-list-field">
                                        {{ form_widget(form.position,{"attr":{"class":"item-position"}}) }}
                                    </td>
                                    <td class="sonata-ba-list-field">
                                        {{ form_widget(form.parent,{"attr":{"class":"item-parent"}}) }}
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-default btn-sm edit_link"
                                               href="{{ path('admin_id4v_menu_menu_menuitem_edit',{
                                                   'id':menu.id,
                                                   'childId':form.vars.data.id
                                               }) }}">
                                                <i class="glyphicon glyphicon-edit"></i>
                                                Editer
                                            </a>
                                            <a class="btn btn-default btn-sm delete_link"
                                               href="{{ path('admin_id4v_menu_menu_menuitem_delete',{
                                                   'id':menu.id,
                                                   'childId':form.vars.data.id
                                               }) }}">
                                                <i class="glyphicon glyphicon-remove"></i>
                                                Supprimer
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </form>
            </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#table-tree").tableDrag(
                {
                    // General options.

                    // The <tr> class indicating that it's draggable.
                    draggableClass: 'draggable',

                    // The path for the cookie flag. A link is displayed which allows users
                    // to switch between the drag and drop interface or the "plain" interface.
                    cookiePath: '/',

                    // Specific options.

                    // The weight option allows elements to be sorted.
                    // Pass a "falsy" value to fieldClass to deactivate (false, null, undefined, etc).
                    weight: {
                        // The class of the <select> list. Weights will be deduced by the <option>s in this list.
                        // <option> values should be integers.
                        fieldClass: 'item-position',

                        // Hides the <select>s parent <td> for better usability.
                        hidden: true
                    },

                    // The parent option allows elements to be children of one another.
                    // Pass a "falsy" value to fieldClass to deactivate.
                    // To allow the child-parent relationship to function correctly, each row must contain an input
                    // with the class defined in sourceFieldClass wich represents the current row.
                    // This can be a hidden input.
                    parent: {
                        // The class of the field containing the "parent" id. Can be any form item.
                        fieldClass: 'item-parent',

                        // The class of the field containing the current "row" id. Can be any form item.
                        sourceFieldClass: 'item-id',

                        // Hides the parent <td> of the "parent" field for better usability.
                        hidden: true
                    },

                    // The group option allows elements to be dragged with their children as a whole.
                    // This is usually what you want.
                    // It's related to parent and can only function with it.
                    // Pass a "falsy" value to fieldClass to deactivate.
                    group: {
                        // The class of the field containing the row "depth". Can be any form item.
                        fieldClass: 'item-depth',

                        // The depth limit to which items can be nested and dragged as a group.
                        depthLimit: 3
                    }
                }
        );

        var submit_button = $("#fake_submit");

        $(document).bind('tabledrag:droprow', function() {
            submit_button.removeClass("btn-default");
            submit_button.addClass("btn-success");
        });

        submit_button.click(function() {
            $("form#organize").submit();
        });
    </script>
{% endblock %}
