{% extends "Id4vMenuBundle:CRUD:menu_base_edit.html.twig" %}

{% block tab_menu_navbar_header %}
    <div class="navbar-header">
        <span class="navbar-brand">Editer un élement au menu</span>
    </div>
{% endblock %}
